header {
  text-align: center;
  background: #f1b200;
  color: white;
}
hr.star-light:after {
  background-color: #f1b200;
  color: white;
}
.navbar-custom {
  background: #fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
}
}
.navbar-custom .navbar-brand {
  color: #f1b200;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #f1b200;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: #f1b200;
}
.navbar-custom .navbar-nav li a:hover {
  color: #f1b200;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #f1b200;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #f1b200;
}
.navbar-custom .navbar-toggle {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  border-color: black;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #f1b200;
  color: white;
  border-color: #f1b200;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover{
  color:#f1b200;
}
#profilepic{
  border-radius: 200px;
}
